.icon-info{

    display: flex;
    position: relative;
}
.icon{
    display: flex;
    padding: 10px;
}
.log{
    
    display: flex;
    position: absolute;
    right:10px
}
.log-btn{
    width: 71px;
    margin-top: 24px;
    background-color: #04AA6D;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #04AA6D;
}
.Next{
    float: right;
    background-color: #04AA6D;
    padding: 10px;
}
.previous{
    float: left;
    background-color: #04AA6D;
    padding: 10px;
}
.panalbtn{
    background-color: #04AA6D;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 99%;
}

.Try_it_yourself{

    background-color: #04AA6D;
    padding: 10px;
    margin-top: 10px;
    width: 131px;
}
.note{
    background-color: #ffffcc;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 23px;
    margin-bottom: 10px;
    margin-top: 29px;
}
.hide{
    display: flex;
}
.contant{
 
    border-right: 1px solid gainsboro;
    width: 74%;
    padding-left: 10px;
    padding-bottom: 19px;
    padding-right: 10px;
    border-left: 1px solid gainsboro;
}
.vertical-menu {
    width: 200px;
    height: 600px;
    overflow-y: auto;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .parent1{
      display: flex;
  }